*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: sans-serif;
    color: black ;
    background-color: rgb(150, 148, 142);
}
header{
    background-color: rgb(150, 148, 142);
}
.section-margin-bottom{
    margin-bottom: 1rem;
}
.container{
    width: 90%;
    margin:0 auto;
    
}
.heder-heding{
    text-align: center;
    font-size: 6rem;
}
.heder-nav{
    background-color: white;
}
.heder-nav-items{
    list-style-type: none;
    font-size: 2rem;
    display: inline-block;
    padding: 2rem;
}
.heder-nav-items-links{
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}
.heder-nav-items-links-image {
    height: 3rem;
    width: 3rem;
    margin-left: 70rem;
    
    
}
.hero-image{
    width: 100%;
    height: 500px;
    
}
.hero{
    background-color: white;
    padding: 2rem;
}
.blog-box{
    width: 23%;
    background-color: white;
    margin-right: 2.2rem;
   
   padding: 1rem;
    display: inline-block;
}
.blog-box>*{
    margin-bottom: 2rem;
   
}
.blog-box-image{
    width: 100%;
    height: 20rem;
    display: inline-block;
   
}
.blog-box-text{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-indent: 2rem;
}
.blog-box-link{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: inherit;
    display: block;
    text-align: right;
}
.gallary-img{
    display: inline-block;
    width: 30%;
   
    background-color: white;
}


.gallary-img-content{
   width: 46%;
   height: 17rem;
   display: inline-block;
   margin: .5rem;

    
}
.gallary{
    background-color: white;
    padding: 1rem;
}
.gallary-text{
    display: inline-block;
    width: 60%;
    vertical-align: top;
    font-size: 2rem;
}
.gallary-text>*{
    margin-bottom: 1rem;
}
.gallary-text-heding{
    margin: 3rem;
}
.gallary-text-paragrap{
    text-align: justify;
    line-height: 2.7rem;
    margin-left: 3rem;
}
.gallary-text-link{
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: right;
    font-weight: 600;
}
.footer{
    background-color: white;
}
.footer-left, .footer-right{
    display: inline-block;
}
.footer-left-link{
    text-decoration: none;
    color: inherit;
    display: inline-block;
    
    font-weight: 600;
    font-size: 1.8rem;
    padding: .5rem;
}
.footer-right{
    display: inline-block;
    margin-left: 20rem;
}

.footer-right-nav li{
    display: inline-block;
    padding: 1rem;
    

}
.footer-right-nav li a{
    display: inline-block;
    font-size:2rem ;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}